# dependencies
/node_modules

# production
/dist

# environment variables
.env

# Vite cache
/.vite

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS and IDE files
.DS_Store
.idea
.vscode

# Optional: If you're using Tailwind's JIT or similar tools
.tailwind
